<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Edit Questionnaire</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Questionnaire
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <form role="form" name="createForm" novalidate>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name"
                       data-ng-model="vm.questionnaire.name" required>
              </div>

              <div class="form-group">
                <label >Show Progressbar</label>
                <select
                  data-ng-model="vm.questionnaire.progressbar"
                  data-ng-options="option.val as option.name for option in vm.optionsYesNo"
                  class="form-control"></select>
              </div>

              <div class="panel panel-default" data-ng-if="vm.hasStartPage">
                <div class="panel-heading">Start Page</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="startPage_title">Title</label>
                        <input type="text" class="form-control" name="startPage_title" id="startPage_title"
                               data-ng-model="vm.startPage.title">
                      </div>

                      <div class="form-group">
                        <label for="startPage_text">Text</label>
                        <textarea class="form-control" rows="3" data-ng-model="vm.startPage.text" name="startPage_text" id="startPage_text"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default" data-ng-if="vm.hasEndPage">
                <div class="panel-heading">End Page</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="endPage_title">Title</label>
                        <input type="text" class="form-control" name="endPage_title" id="endPage_title"
                               data-ng-model="vm.endPage.title">
                      </div>

                      <div class="form-group">
                        <label for="endPage_text">Text</label>
                        <textarea class="form-control" rows="3" data-ng-model="vm.endPage.text" name="endPage_text" id="endPage_text"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="">
                  <button type="submit" class="btn btn-success"
                          data-ng-click="vm.update();"
                          data-ng-disabled="!createForm.$dirty || createForm.$invalid">Edit</button>
                  <button type="submit" class="btn btn-default"
                          data-ng-click="vm.cancel()">Cancel</button>
                </div>

              </div>
            </form>
          </div>
          <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
