<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
              <a data-ng-click="showHome()"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a data-ng-click="showQuestionnaires()"><i class="fa fa-users"></i>Questionnaires</a>
            </li>
            <li>
                <a data-ng-click="showParticipants()"><i class="fa fa-university "></i>Participants</a>
            </li>
            <li>
                <a data-ng-click="showAnalysis()"><i class="fa fa-comments-o "></i>Analysis</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

