<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Analyze Process of <i>{{vm.questionnaire.name}}</i></h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Question Flow per Participant</h4>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td>Participant</td>
              <td ng-repeat="question in vm.questions">A{{$index+1}}</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="participant in vm.processAnalysis.processModel">
              <td>Particiapnt {{$index + 1}}</td>
              <td ng-repeat="question in participant.questions">
                <span data-ng-show="question.status == 'skipped'" style="color:red;" >{{question.label}}</span>
                <span data-ng-show="question.status == 'exchanged'" style="color:orange;" >{{question.label}}</span>
                <span data-ng-show="question.status == 'correct'" style="color:green;" >{{question.label}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Questions per Answers</h4>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td>Answer</td>
              <td ng-repeat="question in vm.questions">Q{{$index+1}}</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="questions in vm.processAnalysis.mostFrequentlyProcess">
              <td>A{{$index+1}}</td>
              <td ng-repeat="question in questions">
                <div style="background-color: #9FF781;" align="center">
                  <span data-ng-show="$parent.$index == $index" style="color:green;" >{{question}}</span>
                </div>
                <div align="center">
                  <span data-ng-show="!($parent.$index == $index) && question > 0" style="color:orange;" >{{question}}</span>
                  <span data-ng-show="!($parent.$index == $index) && question == 0" style="color:green;" >{{question}}</span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Connections between Questions</h4>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td></td>
              <td ng-repeat="question in vm.questions">Q{{$index+1}}</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="questions in vm.processAnalysis.questionRelation">
              <td>Q{{$index+1}}</td>
              <td ng-repeat="question in questions">
                <div align="center">
                  <div data-ng-show="question.color == 'black'">
                    <span>#</span>
                  </div>
                  <div data-ng-show="question.color == 'green'">
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<<'" style="color: #3ADF00;"><i class="glyphicon glyphicon-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>>'" style="color: #3ADF00;"><i class="glyphicon glyphicon-arrow-left" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '='" style="color: #3ADF00;"><i class="fa fa-exchange" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<'" style="color: #3ADF00;"><i class="fa fa-long-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>'" style="color: #3ADF00;"><i class="fa fa-long-arrow-left" /></span>
                  </div>
                  <div data-ng-show="question.color == 'orange'">
                    <span data-ng-show="$parent.$index == $index" style="color: #FE9A2E;"><i class="fa fa-stop "/> </span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<<'" style="color: #FE9A2E;"><i class="glyphicon glyphicon-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>>'" style="color: #FE9A2E;"><i class="glyphicon glyphicon-arrow-left" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '='" style="color: #FE9A2E;"><i class="fa fa-exchange" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<'" style="color: #FE9A2E;"><i class="fa fa-long-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>'" style="color: #FE9A2E;"><i class="fa fa-long-arrow-left" /></span>
                  </div>
                  <div data-ng-show="question.color == 'red'">
                    <span data-ng-show="$parent.$index == $index" style="color: #FF0000;"><i class="fa fa-stop "/> </span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<<'" style="color: #FF0000;"><i class="glyphicon glyphicon-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>>'" style="color: #FF0000;"><i class="glyphicon glyphicon-arrow-left" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '='"style="color: #FF0000;"><i class="fa fa-exchange" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '<'"style="color: #FF0000;"><i class="fa fa-long-arrow-right" /></span>
                    <span data-ng-show="(!($parent.$index == $index)) && question.value == '>'"style="color: #FF0000;"><i class="fa fa-long-arrow-left" /></span>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
