<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Analyze Responses of <i>{{vm.questionnaire.name}}</i></h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Visits per Page</h4>
      </div>
      <div class="panel-body">

        <div id="visitsPerPage" style="height: 250px;"></div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Average Time per Page</h4>
      </div>
      <div class="panel-body">

        <div id="avgTimePerPage" style="height: 250px;"></div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Average Time per Question</h4>
      </div>
      <div class="panel-body">
        <div id="avgTimePerQuestion" style="height: 250px;"></div>

        <uib-accordion>
          <uib-accordion-group is-open="status.open" >
            <uib-accordion-heading>Questions
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div>
              <div ng-repeat="question in vm.responseAnalysis.questionResponses">
                <label>Q {{$index + 1}}: </label> {{question.text}}
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Response / Non Response per Question</h4>
      </div>
      <div class="panel-body">
        <div id="nonResponsePerQuestion" style="height: 250px;"></div>

        <uib-accordion>
          <uib-accordion-group is-open="status.open" >
            <uib-accordion-heading>Questions
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div>
              <div ng-repeat="question in vm.responseAnalysis.questionResponses">
                <label>Q {{$index + 1}}: </label> {{question.text}}
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>

  </div>
</div>
